body {
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: #57a3f5;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin: 0;
  color: #FEF2BF;
}

.button-form {
  margin: 2% auto;
  display: inline-block;
  height: 150px;
  width: 270px;
  border-radius: 20px;
}

.level-btn {
  height: 60px;
  width: 120px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f7e8a7;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  height: 600px;
  width: 600px;
  margin: auto;
}

.button-smaller {
  margin: 2px;
  height: 115px;
  width: 115px;
  border: 15px solid black;
  border-radius: 30px;
}

.button-medium {
  margin: 5px;
  height: 150px;
  width: 150px;
  border: 20px solid black;
  border-radius: 30px;
}

.button-larger {
  margin: 7px;
  height: 235px;
  width: 235px;
  border: 25px solid black;
  border-radius: 30px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.magenta {
  background-color: magenta;
}

.orange {
  background-color: orange;
}

.chartreuse {
  background-color: chartreuse;
}

.white {
  background-color: white;
}

.cyan {
  background-color: cyan;
}

.darkgreen {
  background-color: darkgreen;
}

.navy {
  background-color: navy;
}

.olivedrab {
  background-color: olivedrab;
}

.tomato {
  background-color: tomato;
}

.purple {
  background-color: purple;
}

.orangered {
  background-color: orangered;
}

.deeppink {
  background-color: deeppink;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(112, 111, 111);
}

.game-over {
  background-color: rgb(255, 19, 19);
  opacity: 0.3;
}
