body {
  text-align: center;
  background-color: #57a3f5;
}

.icon {
  font-size: 1px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  margin:  3% auto 3%;
  color: #FEF2BF;
}

.button-form {
  margin: 2% auto;
  display: inline-block;
  height: 150px;
  width: 270px;
  border-radius: 20px;
}

.level-btn {
  height: 60px;
  width: 120px;
  margin: 2px;
  border-radius: 10px;
  background-color: #f7e8a7;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  width: 400px;
  width: 400px;
  margin: auto;
}

.button-smaller {
  margin: 5px;
  height: 70px;
  width: 70px;
  border: 7px solid black;
  border-radius: 20%;
}

.button-medium {
  margin: 5px;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.button-larger {
  margin: 5px;
  height: 120px;
  width: 120px;
  border: 10px solid black;
  border-radius: 20%;
}


@media screen and (max-width: 900px) {
  .button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 200px;
    width: 200px;
    margin: auto;
  }
  
  .button-smaller {
    margin: 2.5px;
    height: 35px;
    width: 35px;
    border: 3.5px solid black;
    border-radius: 20%;
  }
  
  .button-medium {
    margin: 2.5px;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 20%;
  }
  
  .button-larger {
    margin: 2.5px;
    height: 60px;
    width: 60px;
    border: 5px solid black;
    border-radius: 20%;
  }  
}


.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.magenta {
  background-color: magenta;
}

.orange {
  background-color: orange;
}

.chartreuse {
  background-color: chartreuse;
}

.white {
  background-color: white;
}

.cyan {
  background-color: cyan;
}

.darkgreen {
  background-color: darkgreen;
}

.navy {
  background-color: navy;
}

.olivedrab {
  background-color: olivedrab;
}

.tomato {
  background-color: tomato;
}

.purple {
  background-color: purple;
}

.orangered {
  background-color: orangered;
}

.deeppink {
  background-color: deeppink;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(112, 111, 111);
}

.game-over {
  background-color: rgb(255, 19, 19);
  opacity: 0.3;
}
